kraken==6.0.3
# kraken @ git+https://github.com/mittagessen/kraken.git@main
pillow==12.1.1
PyMuPDF==1.27.1
opensearch-py==3.1.0
pytesseract==0.3.13
lxml>=5.0.0
# sentence_transformers==5.2.2 # only if vectorize